#
# PHP source directory
#
SOURCE_DIR=./www

#
# Runtime data directory
#
DATA_DIR=./data

#
# Container Timezone
#
TZ=Asia/Shanghai

#
# Container package fetch url
#
# Can be empty, followings or others:
# mirrors.163.com
# mirrors.aliyun.com
# mirrors.ustc.edu.cn
#
CONTAINER_PACKAGE_URL=mirrors.aliyun.com

#
#ALPINE
#
ALPINE_VERSION=3.12

#
#SSH_KEY_DIR
#
SSH_KEY_DIR=./data/ssh

#################### php #####################
#
# PHP7
#
# Available PHP_EXTENSIONS:
#
# pdo_mysql,zip,pcntl,mysqli,mbstring,exif,bcmath,calendar,
# sockets,gettext,shmop,sysvmsg,sysvsem,sysvshm,pdo_rebird,
# pdo_dblib,pdo_oci,pdo_odbc,pdo_pgsql,pgsql,oci8,odbc,dba,
# gd,intl,bz2,soap,xsl,xmlrpc,wddx,curl,readline,snmp,pspell,
# recode,tidy,gmp,imap,ldap,imagick,sqlsrv,mcrypt,opcache,
# redis,memcached,xdebug,swoole,pdo_sqlsrv,sodium,yaf,mysql,
# amqp,mongodb,event,rar,ast,yac,yar,yaconf,msgpack,igbinary,
# seaslog,varnish,xhprof,xlswriter,memcache,rdkafka,zookeeper,
# psr,phalcon,sdebug
#
# You can let it empty to avoid installing any extensions,
# or install multi plugins as:
# PHP_EXTENSIONS=pdo_mysql,mysqli,gd,curl,opcache
#

PHP_VERSION=7.4.19
PHP_PHP_CONF_FILE=./services/php/php.ini
PHP_FPM_CONF_FILE=./services/php/php-fpm.conf
PHP_LOG_DIR=./logs/php
PHP_EXTENSIONS=pdo_mysql,mysqli,mbstring,gd,curl,opcache,mcrypt,redis,bcmath,zip,exif,swoole,xlswriter,rdkafka,imagick

#
# SUPERVISOR_PHP
#
SUPERVISOR_CONFIG=./services/supervisor/conf.d/
SUPERVISOR_LOG=./logs/supervisor
SUPERVISOR_CONF_FILE=./services/supervisor/supervisord.conf

############# Node15 ############
#
# Node15
#
NODE15_VERSION=15.7.0


DOCKER_CONTAINER_PREFIX=zg #容器名

############# Timezone for the containers ############
TZ=Asia/Shanghai   #时区

#################### Nginx #####################
NGINX_CONFD_DIR=./services/nginx/conf.d  #配置根目录
NGINX_CONF_FILE=./services/nginx/nginx.conf  #配置文件
NGINX_LOG_DIR=./services/nginx/log  #日志

#################### Redis #####################
REDIS_DATA=./services/redis/data
REDIS_CONF_FILE=./services/redis/redis.conf
REDIS_LOG_DIR=./logs/redis  #日志